{% extends 'base.html' %}

{% block content %}

<div class="container">
<p>
This project is named Torque. The name Torquemada may result too complex, long and meaningless unless you are familiar with certain parts of Spanish History.
</p>

<!--
<p>
This project was created as a reaction. An unprecedented amount of staff and time was being drawn down to verify non-validated changes. Once that was not enough and a mass roll-out was impending, more staff and time would have had to be allocated. Guess that is what happens when trust has no basis, permissions are given liberally, quality is an optional attribute and quality assurance an alien concept. Hence the name Torquemada seemed a natural fit. 
</p>
-->

<p>
This project was created as a reaction. An unprecedented amount of staff and time was being drawn down to verify non-verified changes. Once that   was not enough and a mass roll-out was impending, more staff and time would have had to be allocated. Guess that is what happens when quality is an optional attribute. Hence the name Torquemada seemed a natural fit.
</p>

<p>
But since the driver for this project inception is a reaction, and quick as reactions go, you may not encounter in this project the quality of a production grade tool. I guess you are whitnessing a paradox, while the objective of the project is to ensure quality is applied and quality assurance is in place, this same project has not had the time to apply those same principles to itself (yet).
</p>

<p>
Now, while Torquemada was probably as smooth as a Vaselined otter, you would not want him around. Equally, you would not want this tool around. Its natural roadmap is self extintion. So, for the moment, do not expect much except a single trick pony.
</p>

<p>
Lastly, there is honor between thiefs, but not in IT. The idea of this site is not novel, it is in fact a respectful plagiarim of an existing tool in in HEAnet Schools. 
</p>

</div>
{% endblock content %}
